<% @order_products.each do |op| %>
  <li class="list-group-item">
    <p><%= Product.find(op.product_id).name %></p>
    <p>Quantity: <%= op.quantity %></p>
    <p>Sale Price: <%= op.price %></p>
  </li>
<% end %>

<div class="col d-flex justify-content-center">
  <p>Sub Total: <%= @order.sub_total %></p>
</div>
<div class="col d-flex justify-content-center">
  <p>Tax: <%= @order.tax %></p>
</div>
<div class="col d-flex justify-content-center">
  <p>Total: <%= @order.total %></p>
</div>

<div class="col d-flex justify-content-center">
  <%= form_with url: payment_create_path, method: :post do %>
    <%= hidden_field_tag(:id, @order.id, autocomplete: "off") %>
    <%= button_tag "Buy Now", class: "btn btn-outline-dark" %>
  <% end %>
</div>