<div class="row">
  <div class="card m-5 p-3" style="width: 16rem;">
    <% if product.image.present? %>
      <%= link_to product do %>
        <%= image_tag product.image, alt: "Perfume image", class: "card-img-top" %>
      <% end %>
    <% end %>

    <div class="card-body ">
      <h5 class="card-title lead"> <%= link_to product.name, product %> </h5>

      <div class="col d-flex justify-content-center">
        <%= form_with url: cart_products_path, method: :post do %>
          <%= hidden_field_tag(:id, product.id, autocomplete:"off", id: "id#{product.id}") %>
          <%= button_tag "Add to Cart", class: "btn btn-outline-dark" %>
        <% end %>
      </div>
    </div>

  </div>
</div>



