<!DOCTYPE html>
<html>
  <head>
    <title>Ecommer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- nav section -->
    <nav class="navbar navbar-expand-sm justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <p class="nav-link lead"><%= link_to "Homepage", root_path %></p>
        </li>
        <li class="nav-item">
          <p class="nav-link lead"><%= link_to "About Us", permalink_path("about") %></p>
        </li>
        <li class="nav-item">
          <p class="nav-link lead"><%= link_to "Mens", men_products_url %></p>
        </li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
