<!DOCTYPE html>
<html lang="en">
  <head>
    <% if @title != nil %>
      <title><%= @title %></title>
    <% else %>
      <title>Ecommer</title>
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '_variables', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'nav', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'products', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <!-- nav section -->
    <nav class="navbar navbar-expand-sm">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <p class="nav-link lead"><%= link_to "Homepage", root_path %></p>
          </li>
          <li class="nav-item">
            <p class="nav-link lead"><%= link_to "About Us", permalink_path("about") %></p>
          </li>
          <li class="nav-item">
            <p class="nav-link lead"><%= link_to "Contact Us", permalink_path("contact") %></p>
          </li>
          <li class="nav-item">
            <p class="nav-link lead"><%= link_to "Mens", men_products_url %></p>
          </li>
          <li class="nav-item">
            <p class="nav-link lead"><%= link_to "Womens", women_products_url %></p>
          </li>
        </ul>

        <ul class="navbar-nav">
          <% if customer_signed_in? %>
            <li class="nav-item">
              <p class="nav-link lead"><%= link_to current_customer.email, orders_path %></p>
            </li>
            <li class="nav-item">
              <p class="nav-link lead"><%= link_to "Cart", carts_path %>
              <span class="badge badge-secondary"><%= products_hash.size() %></span></p>
            </li>
            <li class="nav-item">
              <p class="nav-link lead"><%= link_to "Sign Out", destroy_customer_session_path, :method => :delete %></p>
            </li>
          <% else %>
            <li class="nav-item">
              <p class="nav-link lead"><%= link_to "Cart", carts_path %></p>
            </li>
            <li class="nav-item">
              <p class="nav-link lead"><%= link_to "Sign Up", new_customer_registration_path %></p>
            </li>
            <li class="nav-item">
              <p class="nav-link lead"><%= link_to "Sign In", customer_session_path, :method => :post %></p>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div>
      <%= form_with(url: search_products_path, method: :get, local: true) do %>
        <div class=form-group>
          <div class="row">
            <div class="col-6">
              <%= text_field_tag(:keywords, nil, class: "input form-control", placeholder: "Search Products") %>
            </div>
            <div class="col-4">
              <%= select_tag 'select_brand', options_from_collection_for_select(Brand.all, :id, :name), prompt: "All Brand", class: 'form-control' %>
            </div>
            <div class="col-2">
              <%= submit_tag("Search", class: "btn btn-outline-dark form-control") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
